.breadcrumbs{
	padding-right: 20px!important;
}
.success-absolute{
	position: absolute;
	width: 50%;
	left: 25%;
	opacity: 0.8;
}
.shedule-item{
	border: 1px solid #ccc;
	padding: 5px 10px;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}
.shedule-item:hover{
	background-color: #ff8787; 
	border-color: #ff1c1c;
}
.shedule-item-a{
	background-color: #d1ffd1;
}
.group-stat{
	display: none;
}
.company_posts_table {
	margin-top: 10px;
}
.company_posts_table td{
	padding: 5px;
}
.datepicker{
	z-index: 99999!important;
}
.bootstrap-timepicker-widget{
	z-index: 99999;
}
.image-audio{
	width: 100% !important;
	text-align: left !important;
	height: 50px;
	padding-left: 20px !important;
}
.image-audio .remove-item{
	position: unset!important;
	margin-right: 20px;
}
.greenClass{
	background-color: #ffd3bf!important;
}
.new-monitoring{
	background-color: #deffdd!important;
}
.shedule-item-native{
	background-color: #faebca;
}
.post-description{
	margin-bottom: 10px;
}
.user-shedule-group-title{
	font-size: 16px; 
	margin-bottom: 10px;
	text-decoration: underline;
}
.text-center{
	text-align: center;
}
.shedule-item-story {
    background-color: #cce9ff;
}