.vkeditor-panel{
	text-align: right;
	margin-bottom: 10px;
}
.vk-picture-area{
	height: 400px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	overflow-y: scroll;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.vk-image{
	width: 100%;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 10px;
	min-height: 75px;
	border: 1px solid #fff;
}
.vk-image input{
	display: none;
}
.vk-image img{
	width: 50px;
}
.vk-picture-total{
	display: inline;
	margin-right: 50px;
	display: inline;
}
.vk-pagination{
	text-align: center!important;
	margin-bottom: 10px;
}
.vk-image.vk-active{
	background-color: #dbf1ff;
	border: 1px solid #c9eaff;
}
#attachments{
	width: 100%;
	height: 400px;
	background-color: #fff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	overflow-y: scroll;
	padding: 10px;
}
#attachments > div.image{
	display: inline-table;
	padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 150px;
	text-align: center;
	position: relative;
}
#attachments > div.image-manage{
	width: 200px!important;
}
#attachments > div.image img{
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
#picture-photos{
	padding-left: 15px;
	padding-right: 15px;
}
.remove-item{
	position: absolute;
	opacity: 0.4;
}
.remove-item:hover{
	opacity: 0.9;
}
.remove-item i{
	color: #fff;
}
.drop-title{
	position: absolute;
	font-size: 22px;
	opacity: 0.2;
	text-align: center;
	width: 100%;
	padding-right: 60px;
	margin-top: 125px;
}

.vk-doc-area{
	height: 400px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	overflow-y: scroll;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.vk-doc-total{
	display: inline;
	margin-right: 50px;
	display: inline;
}
#doc-docs{
	padding-left: 15px;
	padding-right: 15px;
}
.vk-doc{
	width: 100%;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 10px;
	min-height: 75px;
	border: 1px solid #fff;
}
.vk-doc input{
	display: none;
}
.vk-doc img{
	width: 50px;
}
.vk-doc.vk-active{
	background-color: #dbf1ff;
	border: 1px solid #c9eaff;
}


.vk-video-area{
	height: 400px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	overflow-y: scroll;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.vk-video-total{
	display: inline;
	margin-right: 50px;
	display: inline;
}
#video-videos{
	padding-left: 15px;
	padding-right: 15px;
}
.vk-video{
	width: 100%;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 10px;
	min-height: 75px;
	border: 1px solid #fff;
}
.vk-video input{
	display: none;
}
.vk-video img{
	width: 50px;
}
.vk-video.vk-active{
	background-color: #dbf1ff;
	border: 1px solid #c9eaff;
}

.vk-audio-area{
	height: 400px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	overflow-y: scroll;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.vk-audio-total{
	display: inline;
	margin-right: 50px;
	display: inline;
}
#audio-audios{
	padding-left: 15px;
	padding-right: 15px;
}
.vk-audio{
	width: 100%;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 10px;
	min-height: 75px;
	border: 1px solid #fff;
}
.vk-audio input{
	display: none;
}
.vk-audio img{
	width: 50px;
}
.vk-audio.vk-active{
	background-color: #dbf1ff;
	border: 1px solid #c9eaff;
}